.employee-paginator {
  display: flex;
  align-content: center;
  justify-content: center;
}
.new-employee {
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
.summary{
  margin-bottom: 5px;
}