<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" routerLink="/home">Northwind</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{item.MenuStyle}}" *ngFor="let item of menu">

        <ng-container [ngTemplateOutlet]="item.SubMenu.length === 0 ? SingleMenu : SpecialMenu"
          [ngTemplateOutletContext]="{ row: item }">
        </ng-container>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()" *ngIf="isAuthenticated">{{userProfile?.email}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-cursor" (click)="onLogout()" *ngIf="isAuthenticated"><span
            class="fas fa-user"></span> Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-cursor" (click)="onLogin()" *ngIf="!isAuthenticated"><span
            class="fas fa-sign-in-alt"></span> Log
          In</a>
      </li>
    </ul>
  </div>
</nav>

<ng-template let-row="row" #SingleMenu>
  <a class="nav-link" routerLink="{{row.MenuLink}}" routerLinkActive="active">{{row.MenuOption}}</a>
</ng-template>

<ng-template let-row="row" #SpecialMenu>
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    {{row.MenuOption}}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" *ngFor="let item of row.SubMenu" routerLink="{{item.MenuLink}}"
      routerLinkActive="active">{{item.MenuOption}}</a>
  </div>
</ng-template>