<div>
  <span mat-dialog-title class="dialog-modal-title">{{ data.title }}</span>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <div>
      <div>{{ data.message }}</div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <div>
      <button type="button" mat-raised-button color="primary" (click)="dialogRef.close(false)" *ngIf="data.showcancel">
        Cancelar
      </button>
      <button type="button" mat-raised-button color="primary" (click)="dialogRef.close(true)">Aceptar</button>
    </div>
  </mat-dialog-actions>
</div>