@import "../../../shared/responsive-breakpoints.scss";

.order-id {
  display: flex;
}
.order-footer {
  display: flex;
  justify-content: flex-end;
}
.order-container {
  display: flex;
  flex-direction: row;
  @include respond-to(md-screen, sm-screen, xs-screen) {
    flex-direction: column;
  }
  .search-container {
    display: flex;
    width: 15%;
    @include respond-to(md-screen, sm-screen, xs-screen) {
      width: 100%;
      margin-bottom: 20px;
    }

    .date-from {
      @include respond-to(md-screen, sm-screen) {
        display: inline;
        margin-left: 10px;
      }
    }
    .date-to {
      @include respond-to(md-screen, sm-screen) {
        display: inline;
        margin-left: 10px;
      }
    }
    .status {
      @include respond-to(md-screen, sm-screen) {
        display: inline;
        margin-left: 10px;
      }
    }
    .button-container {
      @include respond-to(md-screen, sm-screen) {
        display: inline;
        margin-left: 10px;
      }
    }
  }

  .result-container {
    width: 85%;
    @include respond-to(md-screen, sm-screen, xs-screen) {
      width: 100%;
    }
  }
}
