.table-results-base {
	min-height: 500px;
	position: relative;
}
.ngx-datatable.ngx-table {
	.datatable-body .datatable-row-detail {
		height: auto !important;
		padding: 5px 35px !important;
	}
}

.medium-font-color {
	background-color: transparent;
	border-width: 0;
	font-size: 14px;
	height: auto;
	margin: 0 2% 1px 2%;
	padding: 2px 3px;
	text-transform: lowercase;
	vertical-align: bottom;
	outline: none;
	color: #333333;
}