/* You can add global styles to this file, and also import other style files */
@import "./app/shared/responsive-breakpoints.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.customer-modal-dialog {
  @include respond-to(xs-screen) {
    width: 100%;
    max-width: 100% !important;
    height: 100%;
  }
}

.product-modal-dialog {
  @include respond-to(xs-screen) {
    width: 100%;
    max-width: 100% !important;
    height: 100%;
  }
}
.employee-modal-dialog {
  @include respond-to(xs-screen) {
    width: 100%;
    max-width: 100% !important;
    height: 100%;
  }
}